# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ==========================================
# REGLAS ESPECÍFICAS PARA ESP32 E IOT
# ==========================================

# Archivos de compilación de Arduino/PlatformIO
.pio/
build/
*.bin
*.elf
*.hex

# Configuraciones de editor locales (Para que tu equipo no tenga conflictos)
.vscode/
.idea/
*.swp

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db
desktop.ini
